<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, remote: true, class: "btn btn-lg, btn-primary" %>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<button class="btn btn-primary" data-toggle="modal" data-target="#modal-sample">
  モーダルを表示
</button>

<!-- 2.モーダルの配置 -->
<div class="modal fade" id="modal-sample" tabindex="-1">
  <div class="modal-dialog">

    <!-- 3.モーダルのコンテンツ -->
    <div class="modal-content">
      <!-- 4.モーダルのヘッダ -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-label">モーダルのタイトルを表示する</h4>
      </div>
      <!-- 5.モーダルのボディ -->
      <div class="modal-body">
        コンテンツの本文
      </div>
      <!-- 6.モーダルのフッタ -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
